.date-parent, .calendar
{
    background-color: white;
    width: 100% !important;
}

.date-parent, .calendar
{
    label
    {
        color: black;
    }

    background-color: white;
    border-radius: 8px;
    padding: 0;
    width: 100% !important;
    margin-bottom: 1em;
    div
    {
        div
        {
            // button
            // {
            //     // background-color: white;
            //     // border: 1px solid red;
            //     width: 100% !important;
            //     text-align: center;
            //     margin-top: 0;
            //     margin-bottom: 0;
            //     // padding-left: 1em;
            // }
        }
    }

}
.custom-input-date
{
    background-color: white;
    // border: 1px solid red;
    width: 100% !important;
    text-align: left;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 1em !important;
}
.react-datepicker__input-container
{
    input
    {
        margin-bottom: 0 !important;
    }
}