.employee-tab
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    border-radius: 0 2em;
    border: $violet 4px solid;
    box-shadow: black 0em 0em 2em, inset 0em 0em 1em rgb(207, 32, 193);
    color: white;
    padding: 5%;
    margin-bottom: 5%;
    backdrop-filter: blur(6.2px);
}
.show-search
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}
.table
{
    width: 100%;
    margin-bottom: 3em;
}
.count-next-prev
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}