.form-block
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // backdrop-filter: blur(6.2px);
        background-color: rgba(44, 40, 70, 0.5);
        border: $violet 2px solid;
        box-shadow: black 0em 0em 2em, inset 0em 0em 1em rgb(207, 32, 193);
        border-radius: 0 2em;
        width: 600px;
        padding: 3em;
        margin-bottom: 5%;
        position: relative;

        &::before
        {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            backdrop-filter: blur(6px);
            z-index: -99;
        }
        label
        {
            width: 100%;
            margin-bottom: 0.5em;
            text-shadow: black 2px 2px 0;
        }

        input, option
        {
            width: 100%;
            margin-bottom: 1em;
            height: 3em;
            border-radius: 8px;
            padding: 1em;
            border: none;
            outline: none;
        }
        select
        {
            width: 100%;
            margin-bottom: 1em;
            height: 3em;
            border-radius: 8px;
            padding: 0 1em;
            border: none;
            outline: none;
        }

        fieldset
        {
            width: 100%;
            margin-bottom: 1em;
            display: flex;
            flex-direction: column;
            box-shadow: black 0em 0em 2em;
        }
        
        select
        {
            width: 100%;
            margin-bottom: 1em;
        } 
        
        button
        {
            border: none;
            border-radius: 8px;
            padding: 1em 2em;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .save-button
        {
            font-family: 'Oooh Baby';
            transform: rotate(0deg);
            transition: all ease-in-out 0.3s;
            transform: scale(1);
            padding: 1em 3em;
            font-weight: 700;
            font-size: 20px;

            &:hover
            {
                background-color: $violet;
                color: white;
                text-shadow: black 2px 2px 2px;
                box-shadow: rgb(0, 255, 255) 0.5em 0.5em 1em;
                font-size: 24px;
                transform: scale(1.2);
                transform: rotate(-10deg);
                animation: hithere 1s ease infinite;
            } 
          
            @keyframes hithere {
                30% { transform: scale(1.2); }
                40%, 60% { transform: rotate(-10deg) scale(1.2); }
                50% { transform: rotate(10deg) scale(1.2); }
                70% { transform: rotate(0deg) scale(1.2); }
                100% { transform: scale(1); }
            }
        }
    }
}
.error-msg
{
    width: 100%;
    margin-bottom: 0.5em;
    color: rgb(243, 51, 201);
    color: red;
    text-shadow: black 2px 2px 0;
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce
{
    60% { transform:translateY(0%); }
    70% { transform:translateY(-20%); }
    80% { transform:translateY(15%); }
    90% { transform:translateY(-10%); }
    95% { transform:translateY(5%); }
    99% { transform:translateY(-2%); }
    100% { transform:translateY(0); }
}