.pagination
{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons-next-prev
    {
        button
        {
            margin: 1em;
        }
    }
}
.reverse
{
    transform: rotate(180deg);
}