header
{
    display: flex;
    flex-direction: column;

    .logo
    {
        display: flex;
        justify-content: center;
        
        .nav-link 
        { 
            margin: 1em;

            .accueillogo
            {
                height: 140px;
            }
        }
    }
    nav
    {
        display: flex;
        justify-content: center;

        .nav-link 
        {
            color: green;
            font-weight: 700;
            font-size: 30px;
            margin: 1em 2em;
        }
    }
}
.active
{
    color: green;
    text-decoration: underline rgba(40,44,52);
}