body
{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.test
{
    border: 1px solid red;
}
// reset comportment of balsies "a"
a
{
    text-decoration: none;
    color: black;

    :hover
    {
        color: black;
    }
}
.active
{
    color: red;
}

header
{
    display: flex;
    flex-direction: column;

    .logo
    {
        display: flex;
        justify-content: center;
        
        .nav-link 
        {
            margin: 1em;
            .accueillogo
            {
                height: 140px;
            }
        }
    }
    nav
    {
        display: flex;
        justify-content: center;

        .nav-link 
        {
            margin: 2em;
        }
        
    }
}